.sideMenu {
    width: 200px;
    height: 100%;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: -120px;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.sideMenu.open {
    left: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon {
    cursor: pointer;
    padding: 10px;
    padding-right: 2px;
    color: white;
}

.menuItems {
    list-style: none;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow-y: auto;
    height: 100%;
}