.footer {
    background-color: #010101;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.footer p {
    color: #f4f4f4;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}