.linkbtn{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 5px;
    align-items: center;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 20px;
    cursor: pointer;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    color: white;
}

.linkbtn:hover{
    background-color: #222222;
    border: 3px solid #ab966f;
    color: #ab966f;
}

.icon{
    color: #ab966f;
}