* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
:root{
  --Bkg-: #0B2123;
}
@font-face {
  font-family: 'Medieval';
  src: url('../fonts/medieval.otf');
}