.bckg {
    background-color: #000;
    height: 100%;
    width: 100%;
}

.box {
    background-color: #f4f4f4;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
}

.redcard {
    background-color: #222222b0;
    width: 40%;
    height: 95vh;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px #888585;
}

.redcard:hover{
    box-shadow: 0 0 15px #ab966f;
    transition: 1s;

}

.centralizedText {
    text-align: center;
    color: #AB966F;
    margin-bottom: 10px;
    border-bottom: 3px solid #ab966f;
    font-family: Medieval;
    font-size: 3rem;
}
.nomalCentralizedText{
    text-align: center;
    color: #AB966F;
    margin-bottom: 10px;
    border-bottom: 3px solid #ab966f;
    font-family: Medieval;
}

.image {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px #2d2d2d;
}

.image:hover{
    box-shadow: 0 0 15px #ab966f;
    transition: 1s;

}


.dualdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
}

.statusarea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whitetext {
    color: #fff;
}

.tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background-color: #32323222;
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table {
    width: 50%;
    margin-bottom: 10px;
}

.btn{
    background-color: #AB966F;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Medieval;
    font-size: 1.5rem;
    margin-left: 10px;

}
.select{
    background-color: #AB966F;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Medieval;
    font-size: 1.5rem;
    margin-left: 10px;
}

.btnarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}